<body>
  <!-- navbar-->
  <header class="header">
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container"><a class="navbar-brand" routerLink=""><img src="./assets/img/logo.png" alt=""
            width="60"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link link-scroll active" href="#hero">Vocal<span
                  class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link link-scroll" href="#about">Dịch vụ</a></li>
            <li class="nav-item"><a class="nav-link link-scroll" href="#services">Giới thiệu</a></li>
            <li class="nav-item"><a class="nav-link link-scroll" href="#testimonials">Phản hồi</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Hero Section-->
  <section class="hero bg-top" id="hero"
    style="background: url(../assets/img/banner-4.png) no-repeat; background-size: 100% 80%">
    <div class="container">
      <div class="row py-5">
        <div class="col-lg-5 py-5">
          <div data-aos="fade-right" data-aos-delay="200">
            <h1 class="font-weight-bold">Vocal</h1>
            <p class="my-4 text-muted">Bạn là đơn vị cần quảng cáo qua các giọng đọc? Chúng tôi có rất nhiều giọng đọc
              trên mọi miền tổ quốc với nhiều ngữ điệu đủ để cung cấp cho nhu cầu của bạn.
            </p>
            <p class="my-4 text-muted">
              Vocal sẽ là người đứng ra đảm bảo quyền lợi và trách nhiệm cho cả khách hàng và MC khi thực hiện
              dự
              án. Hãy để chúng tôi giúp bạn!
            </p>
            <ul class="list-inline mb-0">
              <div class="row">
                <div class="col-md-8">
                  <li class="list-inline-item mb-2 mb-lg-2 w-100"><a
                      class="btn btn-outline-primary btn-lg px-4 text-left w-100" target="_blank"
                      href="https://artist.apk.vocal.vn">
                      <i class="fas fa-download mr-3"></i>Nghệ Sĩ</a>
                  </li>
                </div>
                <div class="col-md-8">
                  <li class="list-inline-item mb-2 mb-lg-0 w-100"><a
                      class="btn btn-outline-primary btn-lg px-4 text-left w-100" target="_blank"
                      href="https://customer.apk.vocal.vn">
                      <i class="fas fa-download mr-3"></i>Khách Hàng</a></li>
                </div>
              </div>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 ml-auto">
          <div class="device-wrapper mx-auto" data-aos="fade-up" data-aos-delay="200">
            <div class="device shadow" data-device="iPhoneX" data-orientation="portrait" data-color="black">
              <div class="screen"><img class="img-fluid" src="./assets/img/mobile.png" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-center py-0" id="about"
    style="background: url(../assets/img/service-bg.svg) no-repeat; background-size: cover">
    <section class="about py-0">
      <div class="container">
        <p class="h6 text-uppercase text-primary">Services</p>
        <h2 class="mb-5">Dịch vụ của Vocal</h2>
        <div class="row pb-5">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="fade-up" data-aos-delay="100">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg py-4 text-left">
              <div class="card-body p-5">
                <svg class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#ff904e">
                  <use xlink:href="#news-1"> </use>
                </svg>
                <h3 class="font-weight-normal h4 my-4">Báo nói </h3>
                <p class="text-small mb-0">Tích hợp tính năng báo nói trên các trang thông tin điện tử hoặc xây dựng
                  các ứng dụng báo nói hỗ trợ người lái xe, người già, người khiếm thị...</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="fade-up" data-aos-delay="200">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg py-4 text-left">
              <div class="card-body p-5">
                <svg class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#39f8d2">
                  <use xlink:href="#reading-1"> </use>
                </svg>
                <h3 class="font-weight-normal h4 my-4">Sách nói, truyện nói</h3>
                <p class="text-small mb-0">Chuyển sách, truyện văn bản thành sách, truyện nói, giúp lựa chọn, chuyển
                  đổi nội dung và phát các cuốn sách, truyện yêu thích thay vì phải đọc như truyền thống.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="fade-up" data-aos-delay="300">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg py-4 text-left">
              <div class="card-body p-5">
                <svg class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#8190ff">
                  <use xlink:href="#play-video-1"> </use>
                </svg>
                <h3 class="font-weight-normal h4 my-4">Thuyết minh phim</h3>
                <p class="text-small mb-0">Hỗ trợ lồng tiếng thuyết minh phim hoàn toàn tự động và trong thời gian
                  ngắn.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="fade-up" data-aos-delay="100">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg py-4 text-left">
              <div class="card-body p-5">
                <svg class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#21d330">
                  <use xlink:href="#speaker-call-1"> </use>
                </svg>
                <h3 class="font-weight-normal h4 my-4">Lời chào tổng đài</h3>
                <p class="text-small mb-0">Với lợi thế phát triển nhiều giọng nam, nữ, đa dạng vùng miền, có chức năng
                  chèn nhạc nền tự chọn và điều chỉnh được tốc độ đọc, giúp các doanh nghiệp dễ dàng sở hữu một lời chào
                  dành cho tổng đài.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="fade-up" data-aos-delay="200">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg py-4 text-left">
              <div class="card-body p-5">
                <svg class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#ff382a">
                  <use xlink:href="#play-button-1"> </use>
                </svg>
                <h3 class="font-weight-normal h4 my-4">Tạo clip Youtube</h3>
                <p class="text-small mb-0">Giúp các Youtuber dễ dàng chuyển các đoạn tin tức, sách báo, truyện, nội
                  dung... thành các tệp âm thanh để lồng ghép vào video của mình mà không cần lo lắng về thời gian và
                  chi phí thu âm, lồng ghép giọng nói.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="fade-up" data-aos-delay="300">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg py-4 text-left">
              <div class="card-body p-5">
                <svg class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#ffc506">
                  <use xlink:href="#mental-health-1"> </use>
                </svg>
                <h3 class="font-weight-normal h4 my-4">Thu âm bài học</h3>
                <p class="text-small mb-0">Chuyển nội dung các bài học, bài thuyết trình, bài giảng... thành dạng âm
                  thanh để nâng cao chất lượng giảng dạy, giúp tất cả các học viên đều nắm và ghi nhớ được nội dung bài
                  học.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="fade-up" data-aos-delay="100">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg py-4 text-left">
              <div class="card-body p-5">
                <svg class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#ff1db4">
                  <use xlink:href="#chat-bubble-1"> </use>
                </svg>
                <h3 class="font-weight-normal h4 my-4">Lời thoại game</h3>
                <p class="text-small mb-0">Kho giọng nói đa dạng giới tính, vùng miền, có thể hóa vai vào nhiều thể loại
                  nhân vật game với cá tính khác nhau, giúp cho việc lồng tiếng nhân vật trở nên đơn giản và tiết kiệm
                  thời gian hơn.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="fade-up" data-aos-delay="200">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg py-4 text-left">
              <div class="card-body p-5">
                <svg class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#99bb04">
                  <use xlink:href="#page-1"> </use>
                </svg>
                <h3 class="font-weight-normal h4 my-4">Soạn giáo án điện tử</h3>
                <p class="text-small mb-0">Chuyển giáo án truyền thống viết tay thành giáo án điện tử một cách nhanh
                  chóng và hoàn toàn tự động, giúp truyền tải bài giảng đến học viên một cách dễ dàng và sinh động hơn.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="fade-up" data-aos-delay="300">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg py-4 text-left">
              <div class="card-body p-5">
                <svg class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#2f2cfd">
                  <use xlink:href="#pie-chart-1"> </use>
                </svg>
                <h3 class="font-weight-normal h4 my-4">Tạo slide âm thanh</h3>
                <p class="text-small mb-0">Hỗ trợ tạo các file âm thanh để chèn vào slide thuyết trình, giúp slide trở
                  nên chuyên nghiệp và sáng tạo hơn.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="fade-up" data-aos-delay="100">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg py-4 text-left">
              <div class="card-body p-5">
                <svg class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#29c242">
                  <use xlink:href="#tv-1"> </use>
                </svg>
                <h3 class="font-weight-normal h4 my-4">Thông báo</h3>
                <p class="text-small mb-0">Chuyển các đoạn thông báo bằng văn bản thành âm thanh một cách tự động, xây
                  dựng hệ thống phát thanh thông báo, cảnh báo tại các địa điểm công cộng và các cơ quan.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="fade-up" data-aos-delay="200">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg py-4 text-left">
              <div class="card-body p-5">
                <svg class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#7e10aa">
                  <use xlink:href="#delivery-time-1"> </use>
                </svg>
                <h3 class="font-weight-normal h4 my-4">Cập nhật thông tin</h3>
                <p class="text-small mb-0">Phát các đoạn thông báo tự động và cập nhật liên tục về lịch trình, thời
                  gian, trạng thái… cho khách hàng tại các bến xe mà không cần thu âm trước.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="fade-up" data-aos-delay="300">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg py-4 text-left">
              <div class="card-body p-5">
                <svg class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#11addd">
                  <use xlink:href="#sun-1"> </use>
                </svg>
                <h3 class="font-weight-normal h4 my-4">Học nói tiếng Việt</h3>
                <p class="text-small mb-0">Hỗ trợ người nước ngoài đang muốn học tiếng Việt, bằng cách chuyển các đoạn
                  văn bản sang âm thanh để học cách phát âm.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="with-pattern-1" id="services">
      <div class="container">
        <div class="row align-items-center mb-5">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <img class="img-fluid w-100 px-lg-5" src="./assets/img/objects.svg" alt="" data-aos="fade-right"
              data-aos-delay="200">
          </div>
          <div class="col-lg-6">
            <div data-aos="zoom-in" data-aos-delay="200">
              <h2>Bạn đang cần hổ trợ và muốn được tư vấn?</h2>
              <p class="text-muted">Chúng tôi luôn ở đây để sẵn sàng giúp đỡ bạn mọi vấn đề liên quan đến Voice
                Platform.
                Hãy đừng ngần ngại liên hệ với chúng tôi.</p>
              <button id="message" class="btn btn-primary"><i class="fas fa-paper-plane mr-2"></i>Gửi Yêu Cầu</button>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div data-aos="fade-right" data-aos-delay="200">
              <h2>Vocal luôn có giọng hay cho mọi lĩnh vực</h2>
              <p class="text-muted">Chúng tôi luôn thanh lọc các giọng đọc hay nhất về các lĩnh vực cho các đơn vị dễ
                dàng
                lựa chọn.</p>
              <ul class="list-check">
                <li class="text-muted mb-2">Đội ngũ MC chuyên nghiệp được chọn lọc.</li>
                <li class="text-muted mb-2">Giọng đọc đa dạng và truyền cảm.</li>
                <li class="text-muted mb-2">Uy tín và chất lượng được ưu tiên hàng đầu.</li>
              </ul>
              <a class="btn btn-primary link-scroll" href="#voices"><i class="fas fa-play-circle mr-2"></i>Nghe Thử</a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-6 col-sm-6 mb-4">
                <div data-aos="fade-up" data-aos-delay="100">
                  <!-- Services Item-->
                  <div class="card border-0 shadow rounded-lg text-left px-2">
                    <div class="card-body px py-5">
                      <svg class="svg-icon" style="width:40px;height:40px;color:#ff904e">
                        <use xlink:href="#man-1"> </use>
                      </svg>
                      <h3 class="h5 font-weight-normal h4 my-3">Giọng Trầm</h3>
                      <p class="text-small mb-0 text-muted">Giọng trầm là một loại giọng cổ điển có âm
                        vực thấp nhất trong tất cả các loại giọng.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 mb-4">
                <div data-aos="fade-up" data-aos-delay="200">
                  <!-- Services Item-->
                  <div class="card border-0 shadow rounded-lg text-left px-2">
                    <div class="card-body px py-5">
                      <svg class="svg-icon" style="width:40px;height:40px;color:#39f8d2">
                        <use xlink:href="#woman-1"> </use>
                      </svg>
                      <h3 class="h5 font-weight-normal h4 my-3">Giọng Cao</h3>
                      <p class="text-small mb-0 text-muted">Giọng cao có khoảng âm ở giữa khá mạnh mẽ (âm thanh phát ra
                        giữa ngực và đầu).</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 mb-4">
                <div data-aos="fade-up" data-aos-delay="300">
                  <!-- Services Item-->
                  <div class="card border-0 shadow rounded-lg text-left px-2">
                    <div class="card-body px py-5">
                      <svg class="svg-icon" style="width:40px;height:40px;color:#8190ff">
                        <use xlink:href="#user-1"> </use>
                      </svg>
                      <h3 class="h5 font-weight-normal h4 my-3">Giọng Trẻ Trung</h3>
                      <p class="text-small mb-0 text-muted">Là một loại chất giọng đặc biệt mang hơi hướng hiện đại và
                        mới
                        mẽ.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div data-aos="fade-up" data-aos-delay="400">
                  <!-- Services Item-->
                  <div class="card border-0 shadow rounded-lg text-left px-2">
                    <div class="card-body px py-5">
                      <svg class="svg-icon" style="width:40px;height:40px;color:#ff634b">
                        <use xlink:href="#sorting-1"> </use>
                      </svg>
                      <h3 class="h5 font-weight-normal h4 my-3">Giọng Thanh</h3>
                      <p class="text-small mb-0 text-muted">Một chất giọng trong trẻo thanh thoát tạo cảm giác trang
                        trọng
                        và quý phái.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="p-0 mb-3" id="voices">
    <div class="container">
      <p class="h6 text-uppercase text-primary">Giọng đọc</p>
      <h2 class="mb-5">Một vài giọng đọc tiêu biểu</h2>
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-6 mb-4 demo-img">
          <div data-aos="fade-up" data-aos-delay="100">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg text-left px-2">
              <div class="card-body index-forward px py-5">
                <div class="demo-avatar text-center">
                  <img src="../assets/img/avatar-demo-1.png" alt="">
                </div>
                <h3 class="h5 font-weight-normal h4 my-3 text-center text-primary">Thái An</h3>
                <p class="text-small text-muted">Sở hữu 1 giọng đọc hay, nhẹ nhàng, phù hợp rất nhiều chương
                  trình và quảng cáo.</p>
                <p class="text-small text-muted"><span class="font-weight-bolder">Giới tính:</span> Nữ</p>
                <p class="text-small text-muted"><span class="font-weight-bolder">Kiểu giọng:</span> Giọng ấm, Giọng
                  trung
                  niên</p>
                <audio controls class="w-100">
                  <source src="../assets/voices/v928a.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
                <audio controls class="w-100">
                  <source src="../assets/voices/v928b.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 mb-4 demo-img">
          <div data-aos="fade-up" data-aos-delay="200">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg text-left px-2">
              <div class="card-body index-forward px py-5">
                <div class="demo-avatar text-center">
                  <img src="../assets/img/avatar-demo-2.png" alt="">
                </div>
                <h3 class="h5 font-weight-normal h4 my-3 text-center text-primary">Minh Thư</h3>
                <p class="text-small text-muted">Hiện mình là giáo viên nhưng yêu thích công việc thu âm. Mình có thiết
                  bị
                  thu âm tại nhà và đã có kinh nghiệm tham gia thu âm cho nhiều dự án.</p>
                <p class="text-small text-muted"><span class="font-weight-bolder">Giới tính:</span> Nữ</p>
                <p class="text-small text-muted"><span class="font-weight-bolder">Kiểu giọng:</span> Giọng thanh, Giọng
                  trẻ trung</p>
                <audio controls class="w-100">
                  <source src="../assets/voices/v1854a.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
                <audio controls class="w-100">
                  <source src="../assets/voices/v1854b.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 mb-4 demo-img">
          <div data-aos="fade-up" data-aos-delay="300">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg text-left px-2">
              <div class="card-body index-forward px py-5">
                <div class="demo-avatar text-center">
                  <img src="../assets/img/avatar-demo-4.png" alt="">
                </div>
                <h3 class="h5 font-weight-normal h4 my-3 text-center text-primary">Minh Quang</h3>
                <p class="text-small text-muted">Giọng đọc mạnh khoẻ, rõ ràng sẽ rất phù hợp cho giọng tin tức, giọng
                  đọc
                  truyện, giọng lồng tiếng phim tài liệu... </p>
                <p class="text-small text-muted"><span class="font-weight-bolder">Giới tính:</span> Nam</p>
                <p class="text-small text-muted"><span class="font-weight-bolder">Kiểu giọng:</span> Giọng cao, Giọng
                  mạnh
                  mẽ, Giọng trẻ trung</p>
                <audio controls class="w-100">
                  <source src="../assets/voices/v1829a.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
                <audio controls class="w-100">
                  <source src="../assets/voices/v1829b.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-sm-6 mb-4 demo-img">
          <div data-aos="fade-up" data-aos-delay="400">
            <!-- Services Item-->
            <div class="card border-0 shadow rounded-lg text-left px-2">
              <div class="card-body index-forward px py-5">
                <div class="demo-avatar text-center">
                  <img src="../assets/img/avatar-demo-3.png" alt="">
                </div>
                <h3 class="h5 font-weight-normal h4 my-3 text-center text-primary">Kim Ngân</h3>
                <p class="text-small text-muted">Đã có kinh nghiệm nhiều năm trong lĩnh vực đọc voice quảng cáo, lồng
                  tiếng phim. Hy vọng sẽ có cơ hội được hợp tác với Quý công ty.</p>
                <p class="text-small text-muted"><span class="font-weight-bolder">Giới tính:</span> Nữ</p>
                <p class="text-small text-muted"><span class="font-weight-bolder">Kiểu giọng:</span> Giọng thanh, Giọng
                  trẻ trung</p>
                <audio controls class="w-100">
                  <source src="../assets/voices/v1823a.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
                <audio controls class="w-100">
                  <source src="../assets/voices/v1823b.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="p-0" id="testimonials"
    style="background: url(../assets/img/testimonials-bg.png) no-repeat; background-size: 40% 100%; background-position: left center">
    <div class="container text-center">

      <p class="h6 text-uppercase text-primary">Testimonials</p>
      <h2 class="mb-5">Đối tác nói gì về Vocal?</h2>
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div data-aos="fade-up" data-aos-delay="400">
            <div class="owl-carousel owl-theme testimonials-slider">
              <div class="mx-3 mx-lg-5 my-5 pt-3">
                <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                  <div class="card-body index-forward pt-5 rounded-lg">
                    <div class="testimonial-img"><img class="rounded-circle" src="./assets/img/avatar-3.png" alt="" />
                    </div>
                    <p class="lead text-muted mb-5">Một chất lượng tốt, một dịch vụ tốt luôn mang đến sự an tâm của
                      người
                      dùng khi tin tưởng đặt niềm tin vào Vocal. Sẵn sàng phục vụ khách hàng bất cứ thời gian
                      nào
                      là điều tuyệt vời khi chúng tôi dùng dịch vụ của Vocal, cùng với các giọng MC nổi tiếng
                      trên khắp mọi miền giúp chúng tôi dễ dàng lựa chọn cho những chương trình quảng cáo với chất giọng
                      phù hợp.
                    </p>
                    <h5 class="font-weight-bold mb-0">Bin Thieu</h5>
                    <p class="text-primary mb-0 text-small">@binthieu</p>
                  </div>
                </div>
              </div>
              <div class="mx-3 mx-lg-5 my-5 pt-3">
                <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                  <div class="card-body index-forward pt-5 rounded-lg">
                    <div class="testimonial-img"><img class="rounded-circle" src="./assets/img/avatar-2.png" alt="" />
                    </div>
                    <p class="lead text-muted mb-5">Tôi đã sử dụng giọng đọc trên Vocal để phục vụ quảng cáo
                      cho
                      doanh nghiệp của tôi và tôi đã rất hài lòng về giọng đọc có trên Vocal, ngày trước tôi đã
                      rất khó khăn để tìm kiếm giọng đọc, nhưng giờ thì tôi đã không phải lo lắng về vấn đề này nữa,
                      trên
                      Vocal có rất nhiều giọng cho chúng tôi lựa chọn. Một cách thức rất tuyệt mang đến tiện
                      lợi
                      cho các doanh nghiệp như chúng tôi. Xin cảm ơn!</p>
                    <h5 class="font-weight-bold mb-0">Lau Keith</h5>
                    <p class="text-primary mb-0 text-small">@hollowkeith</p>
                  </div>
                </div>
              </div>
              <div class="mx-3 mx-lg-5 my-5 pt-3">
                <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                  <div class="card-body index-forward pt-5 rounded-lg">
                    <div class="testimonial-img"><img class="rounded-circle" src="./assets/img/avatar-1.jpg" alt="" />
                    </div>
                    <p class="lead text-muted mb-5">Chúng tôi có một quảng cáo TVC rất tuyệt vời với người dùng và được
                      đánh giá cao khi chạy quảng cáo. Vocal vô cùng hữu ích và có đội ngũ nhân viên thân
                      thiện,
                      chuyên nghiệp luôn hỗ trợ mọi thắc mắc / thay đổi mà chúng tôi cần thực hiện đối với quảng cáo của
                      mình. Một dịch vụ tuyệt vời mà tôi chắc chắn sẽ giới thiệu cho bất kỳ ai cần giọng đọc cho mục
                      đích
                      sử dụng của họ! Cảm ơn các bạn!</p>
                    <h5 class="font-weight-bold mb-0">Daniel Rigdon</h5>
                    <p class="text-primary mb-0 text-small">@danieljrigdon</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <a class="scropll-top-btn" id="scrollTop" href="#"><i class="fas fa-long-arrow-alt-up"></i></a>
  <footer class="with-pattern-1 position-relative">
    <div class="container section-padding-y">
      <div class="row">
        <div class="col-lg-3 mb-4 mb-lg-0"><img class="mb-4" src="./assets/img/logo.png" alt="" width="90">
          <p class="text-muted">Cộng đồng phát triển giọng từ mọi miền tổ quốc.</p>
        </div>
        <div class="col-lg-3 mb-4 mb-lg-0">
          <h2 class="h5 mb-4">Liên kết</h2>
          <div class="d-flex">
            <ul class="list-unstyled d-inline-block mr-4 mb-0">
              <li class="mb-2"><a class="footer-link" href="#">Đội ngũ phát triển</a></li>
              <li class="mb-2"><a class="footer-link" href="#">Điều khoản dịch vụ</a></li>
              <li class="mb-2"><a class="footer-link" href="#">Chính sách bảo mật</a></li>
              <li class="mb-2"><a class="footer-link link-scroll" href="#services">Liên hệ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 mb-4 mb-lg-0">
          <h2 class="h5 mb-4">Dịch Vụ</h2>
          <div class="d-flex">
            <ul class="list-unstyled mr-4 mb-0">
              <li class="mb-2"><a class="footer-link link-scroll" href="#hero">Hướng dẫn đăng ký</a></li>
              <li class="mb-2"><a class="footer-link link-scroll" href="#hero">Hướng dẫn thuê giọng</a></li>
              <li class="mb-2"><a class="footer-link link-scroll" href="#services">Đặt quảng cáo</a></li>
              <li class="mb-2"><a class="footer-link" href="https://api.voiceplatform.social/" target="blank">Dịch vụ
                  API</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <h2 class="h5 mb-4">Liên hệ</h2>
          <ul class="list-unstyled mr-4 mb-3">
            <li class="mb-2 text-muted">15A Tân Hòa 2, Phường Tân Phú, Quận 9, TP HCM</li>
            <li class="mb-2"><a class="footer-link" href="tel:0339-04-08-99">0348 04 08 99</a></li>
            <li class="mb-2"><a class="footer-link" href="mailto:voiceplatform@gmail.com">vocalfpt@gmail.com</a>
            </li>
          </ul>
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a class="social-link" href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyrights">
      <div class="container text-center py-4">
        <p class="mb-0 text-muted text-sm">&copy; 2021, FPT Dream Team. Design by <a href="https://votantai.ml"
            target="blank" class="text-reset font-weight-bold">Janglee</a>.</p>
      </div>
    </div>
  </footer>